/* General resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Corbel, sans-serif;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header bar */
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #e0e0e0;
  position: relative;
}

.home-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Main content layout- i.e. the grid of subject buttons and how far apart they are  */
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* split evenly into 2 columns */
  grid-template-rows: repeat(2, 1fr);     /* split evenly into 2 rows */
  gap: 55px;
  width: 80vw;   /* take up most of the screen width */
  height: 70vh;  /* take up most of the screen height */
  margin: 40px;
}

/* Subject buttons scale with grid cells */
.subject-btn {
  background: #dcdcdc;
  border: none;
  border-radius: 12px;
  font-size: 2rem;    /* scale up text */
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;        /* fill grid cell */
  height: 100%;       /* fill grid cell */
}

.subject-btn:hover {
  background: #c0c0c0;
}

/* All the button styling */
.subject-btn,
.random-btn {
  border: none;
  border-radius: 12px;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.3s;
  justify-content: space-between;
}

.random-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #b0b0b0;
  width: 240px; 
  height: 189px; 
  border-radius: 75%; /* how circular the button is */
  font-weight: bold;
  font-size: 1.5rem; /* make text larger */
  display: flex; /* center text inside */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.random-btn:hover {
  background: #909090;
}
